@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root body {
    background-color: #101B30;
    color: white;
  }
  
  html {
    font-family: var(--font-chakra);
  }
  
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #101010;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(219, 50%, 13%);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  
  ::selection {
    background-color: goldenrod;
  }
}